.home {
    background-color: $omie-dark;
    height: 120vh;
    color:$omie-white;

    section{
        background-color: $omie-dark;
        margin-top: -1rem;
        
    }
    
    button{
         background-color: $omie-dark;
    }
}

.indications{
    color: $omie-white;

    .about{
        background-color: $omie-bg-secondary;
    }
}

.cards{
    .carousel-item.card{
        height: 30rem;
    }

    .carousel-indicators{
        button{
            border-radius: 100%;
            height: .6rem;
            width: 1rem;
            margin: 0 .6rem;
            background-color: $omie-primary;
            
        }

        button.active{
            background-color: $omie-blue-header;
        }
    }
}

.news {
    height: fit-content;

    .new-item{
        height: 15rem;
    }

    .new-item:nth-child(1){
        color: $omie-white-secondary;

        .content-omie-midia{
            top: 12rem;
            // left: 5rem;
        }
    }

    .bg-omie-grey{
        background-color: $omie-bg-gray;
    }

    .div1{
        background-image: url('../../../assets/images/banner-omiemidia.png');
        background-size: cover;
    }
}

.experts-word{
    background-color: $omie-white;

    .img-midia{
        transition: transform 0.3s;
    }

    .img-midia:hover{
        transform: scale(1.2);
    }
}


.last-session, .cards{
    background-color: $omie-bg-gray;
}


.cards, .experts-word{
    width: 100%;
    height: 100vh;
}

@media screen and (max-width:768px) {

    .new-item:nth-child(1) {
            background-image: url('../../../assets/images/banner-omiemidia.png');
            height: 100vh;
            color: $omie-white-secondary;
            
            .content-omie-midia {
                    bottom: 0;
            }
    }        
}


.grid-news {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.div5 {
    grid-area: 2 / 3 / 3 / 4;
}