.home {
    background-color: $omie-dark;
    height: 120vh;
    color:$omie-white;

    section{
        background-color: $omie-dark;
        margin-top: -1rem;
        
        button{
             background-color: $omie-dark;
        }
    }
}

.about{
    background-color: $omie-bg-secondary;
    color: $omie-white;
}

.last-session{
    background-color: $omie-bg-gray;
    padding-top: 10rem;

}





