.home {
    background-color: $omie-dark;
    height: 120vh;
    color:$omie-white;

    section{
        background-color: $omie-dark;
        margin-top: -1rem;
        
    }
    
    button{
         background-color: $omie-dark;
    }
}

.indications{
    color: $omie-white;

    .about{
        background-color: $omie-bg-secondary;
    }
}

.cards{
    .carousel-item.card{
        height: 30rem;
    }

    .carousel-indicators{
        button{
            border-radius: 100%;
            height: .6rem;
            width: 1rem;
            margin: 0 .6rem;
            background-color: $omie-primary;
            
        }

        button.active{
            background-color: $omie-blue-header;
        }
    }
}

.news {
    .new-item:nth-child(1){
        background-image: url('../../../assets/images/banner-omiemidia.png');
    }
}

.experts-word{
    background-color: $omie-white;

    .img-midia{
        transition: transform 0.3s;
    }

    .img-midia:hover{
        transform: scale(1.2);
    }
}


.last-session, .cards{
    background-color: $omie-bg-gray;
}


.cards, .experts-word{
    width: 100%;
    height: 100vh;
}

